:root {
  --bg-body: #fafafa;
  --bg-header: #466173;
  --bg-footer: #273b47;

  --fontSize: 18px;
}

@custom-media --mobile (max-width: 500px);
@custom-media --tablet (max-width: 650px);
@custom-media --desktop (max-width: 80px);
@custom-media --retina (webkit-min-device-pixel-ratio: 2);

.InvieHero {
  padding: 20px;
  height: 500px;
  background: url('../images/background.png') var(--bg-header);

  @media (--retina) {
    background: url('../images/background2x.png') var(--bg-header);
  }

  &-header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &-copy {
    &-title {
      font-size: calc(var(--fontSize) * 3.1)
    }
  }

}

.InvieFooter {
  background-color: var(--bg-footer);
}
